body {
    background-color: black;
    color: white;

}
h1{
   color: rgb(65, 113, 128);
    text-align: center;
}
h3{
    text-align: center;
    color: whitesmoke
}
button{
    margin-left: 1180px;
}
img{
    margin-left: 225px;
    
}
footer{
    text-align:center ;
}
